:root {
  --primary-bg-color: white;
  --primary-color: black;
  --primary-link-color: green;
  --secondary-bg-color: #faf9f6;
  --tertiary-bg-color: #e9e4d7;
  --section-padding: 1vh 1vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: black;
    --primary-color: white;
    --secondary-bg-color: #191919;
    --tertiary-bg-color: #2c2c2b;
  }
}
